.App {
  text-align: center;
  margin: auto 10px;
}
nav {
  height: 50px;
  background-color: white;
  text-align: center;
}
.nav-title {
  margin: auto;
  padding: 10px;
}
.App-link {
  color: #61dafb;
}
body {
  background-color: #e9f5f1;
}
.flex-display {
  display: block;
}
.flex-left-item {
  width: 100%;
  margin-top: 2%;
}
.flex-right-item {
  width: 100%;
  margin-top: 2%;
}
@media screen and (min-width: 1023px) {
  .flex-display {
    display: flex;
  }
  .flex-left-item {
    width: 20%;
    margin-top: 2%;
  }
  .flex-right-item {
    width: 88%;
    margin-left: 2%;
    margin-top: 2%;
  }
  .App {
    text-align: center;
    margin: auto 60px;
  }
}
.app-card {
  background: linear-gradient(to top, #e9f5f1, white);
  padding: 18px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius:  5px;
}
.shadow {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
